<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Andy Henson’s Bundle</string>
	<key>uuid</key>
	<string>1886BFDB-2497-4FC0-A075-DE33BEDDABDC</string>
</dict>
</plist>
